*{
    font-family: "Inconsolata";
    box-sizing: border-box;
    font-size: 12px;
}

:root{
    --base-color: #f8f8f8;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --font-small: 12px;

    --chart-color: #ffffff;
    --percent-color: #e63946;
    --hover-color: #070b1d;
     
}
.darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --darkcard: #16575c;

    --chart-color:  #3a435d;
    --percent-color: #ffcd56;
    --hover-color: #3a435d;
}
/*FOR DARK MODE*/

#theme-switch{
    float: left;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}
/*COLOR WHITE IF TOGGLE TO DARK MODE*/

/*For Navigator above*/
.header, .navbar, .btn, #navbar-btn{ 
    color: var(--text-color);    
}
/*For buttons*/
.container, .buttons, .btn{
    color: var(--text-color);
}

.card{
    background-color: var(--darkcard);
    color: var(--text-color);
}
body{
    background-color: var(--base-color);
    color: var(--text-color);
}

/* ABOUT-INDEX.HTML*/
.chart-heading,.details{
    color: var(--text-color);
}
.programming-stats{
    background-color: var(--chart-color);
}

.programming-stats .details .percentage {
    color: var(--percent-color);
}
.programming-stats:hover {
    box-shadow: var(--hover-color);
}
/*LAST LINE FOR DARKMODE*/






#name{
    font-size: 50px;
}
.header,.navbar,.nav-link, #navbar-btn{
    text-decoration: none;
    font-size: 20px;
}
.container{
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.description{
    padding-right: 20px;
}
.Photoimg, .card-img{
    border-radius: 10px;
    height: 30rem;
}
#homepage{
    border-radius: 20px;
}
.navbar .p-2{
    text-decoration: none;
    color: #000;
}
.footer{
    margin-top: 100px;
}
.footer,#username,#copyright{
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
#omellete{
    width: 50rem;
}

.container{
    display: flex;
}
.card, #img-fluid{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.card-img{
    max-width: 50rem;
    height: 50rem;
}
i{
    font-size: 20px;
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}
.card{
    max-width: 50%;
    z-index: 1;
}

.card, .col, .link{
    font-size: 10px;
}

#username{
    font-family: "Inconsolata";
    font-size: 20px;
}
#spanYear{
    font-family: "Inconsolata";
    font-size: var(--font-small);
}



@media screen and (max-width: 768px){
    #theme-switch{
        height: 30px;
        width: 30px;
    }    
    .container{
        display: grid;
        grid-column: auto;
        }
    .description{
        margin-bottom: 20px;
    }
    .Photoimg, .card-img{
        object-fit: cover;
    }
    .header,.navbar,.nav-link, #navbar-btn{
        font-size: 15px;
    }
}

@media screen and (max-width: 576px){
    #theme-switch{
        height: 28px;
        width: 28px;
    }    
    .container{
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    }

    .Photoimg, .card-img{
        justify-self: center;
        max-width: 70rem;
    }

    .header,.navbar,.nav-link, #navbar-btn{
        font-size: 10px;
    }
}